.flexRowContent--desktop__product--main-container{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 1.5em;
}

:global(.vtex-store-components-3-x-productBrand){
    font-size: 24px;
    font-weight: 700;
    margin: 5px 0;
}

:global(.vtex-store-components-3-x-productBrandName){
    color: #ee262a;
    margin: 5px 0;
    display: block;
    font-size: 14px;
}

.flexColChild--product__details--info
:global(.vtex-reviews-and-ratings-3-x-inlineContainer){
    position: relative;
    top: 5px;
    padding-bottom: 10px;
}

.flexRowContent--product__details--label-price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2px;
    border-top: 1px solid #e7e7e7;
}

.flexCol--product__details--buy-share{
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    padding: 0 10px 10px;
    height: fit-content;
    position: sticky;
    top: 180px;
}

.flexCol--product__details--buy-share
:global(.vtex-flex-layout-0-x-flexRowContent--product__details--label-price){
    border-top: none;
}

:global(.vtex-product-quantity-1-x-quantitySelectorTitle){
    margin-top: 10px;
    font-size: 18px;
    color: #050505;
}

.flexCol--product__details--buy-share
:global(.vtex-numeric-stepper__input){
    width: 2.5vmax !important;
}
.flexCol--product__details--buy-share
:global(.vtex-numeric-stepper__plus-button){
    width: 2.5vmax !important;
}
.flexCol--product__details--buy-share
:global(.vtex-numeric-stepper__minus-button){
    width: 2.5vmax !important;
}

.flexCol--product__details--buy-share
:global(.vtex-button){
    min-height: 60px;
}

/* .flexColChild--product__details--buy-share */
:global(.vtex-store-components-3-x-shareContainer){
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.flexColChild--product__details--buy-share
:global(.vtex-store-components-3-x-shareLabel){
    color: #050505;
    margin: 0 5px 0 0;
    font-size: 13px;
}

.flexRowContent--global__product--description{
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.flexRowContent--global__product--description
:global(.vtex-store-components-3-x-content){
    color: #050505;
    font-size: 14px;
    margin-left: 20px;
    line-height: 20px;
    text-align: justify;
}

/******************** mobile ******************/
.flexRowContent--mobile-product-main-container{
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
}

.flexRowContent--mobile__product--brand-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexRowContent--mobile-product-main-container
:global(.vtex-store-components-3-x-productImagesContainer--carousel){
    margin: 3em 0;
}

.flexRowContent--mobile__product--details{
    display: flex;
    flex-direction: column;
}

.flexRowContent--mobile__product--details
:global(.vtex-store-components-3-x-sellingPrice){
    color: #0f1111;
    font-size: 32px;
}

.flexRowContent--mobile__product--details
:global(.vtex-numeric-stepper__input){
    width: 6.5vmax !important;
}
.flexRowContent--mobile__product--details
:global(.vtex-numeric-stepper__plus-button){
    width: 6.5vmax !important;
}
.flexRowContent--mobile__product--details
:global(.vtex-numeric-stepper__minus-button){
    width: 6.5vmax !important;
}

.flexRowContent--mobile__product--details
:global(.vtex-button){
    min-height: 60px;
}

@media (min-width: 1024px) and (max-width: 1280px){
    .flexRowContent--desktop__product--main-container{
        padding: 0 2rem;
    }
}

@media (max-width: 1024px){
    .flexRowContent--global__product--specification
    :global(.vtex-store-components-3-x-specificationsTableContainer){
        width: 95vmax;
        margin-top: 0;
    }
}
