/* .imageElement--home__image1{
    background-color: blue;
    padding-right: 10px;
} */

.imageElement--home__image2 {
    padding-left: 10px;
}

.imageElement--home__service1 {
    width: 85%;
}

.imageElement--categories__seccion1--item2{
    width: 28%;
}