.imageElement--home__image2 {
    padding-left: 10px;
}

.imageElement--home__service1 {
    width: 85%;
}

.imageElement--categories__seccion1--item2{
    width: 28%;
}

.imageElement--header__menu--animals{
    width: 80%;
}

.imageElement--header__menu--animals2{
    width: 70%;
}

.imageElement--mobile__header--menu-dog, 
.imageElement--mobile__header--menu-cat {
    width: 30%;
    padding: 1em 0;
}

.container{
    padding: 0%;
}

.searchBarIcon--search{
    content: "\e99e";
    font-family: kanu-icons;
    font-size: 20px;
    color: #f8971d;
}

.searchBarContainer{
    background-color: #f2f2f2; 
    padding: 5px 20px;
    width: 100%;
}

:global(.vtex-input-prefix__group){
    border: none;
}


