.logoImage{
    width: 150px;
}
.imageElement--home__service1 {
    width: 94%;
}

.imageElement--home__service4{
    width: 96%;
}

.imageElement--section__services2{
 margin-right: 1.8em;
}

.imageElement--categories__seccion1--item2{
    width: 28%;
}

.imageElement--header__menu--animals{
    width: 80%;
}

.imageElement--header__menu--animals2,
.imageElement--footer__bottom--icon-jump{
    width: 70%;
}

.imageElement--mobile__header--menu-dog, 
.imageElement--mobile__header--menu-cat {
    width: 30%;
    padding: 1em 0;
}

.container{
    padding: 0%;
}

.searchBarIcon--search{
    font-size: 20px;
    color: #f8971d;
}

:global(.vtex-input-prefix__group){
    border: none;
}

.imageElement--home__section--search-img{
    width: 40%;
}

/************ Section products recommended **************/

.skuSelectorTextContainer, .frameAround {
    display: none;
}

.skuSelectorItem--selected{
    background-color: #ee562a;
    border-radius: 0.25rem;
}

.skuSelectorItemTextValue{
    color: #ee562a;
}

.skuSelectorItemTextValue:hover{
    color:#fff;
}


.skuSelectorInternalBox{
    border: 1px solid #ee562a;
}

.skuSelectorInternalBox:hover{
    background-color: #ee562a;
}

.skuSelectorItem--selected
:global(.vtex-store-components-3-x-skuSelectorItemTextValue){
    color: #fff;
}

/********************* footer middle *********************/
.imageElement--image-social-networks{
    width: 30px;
    filter: invert(100%) sepia(5%) saturate(839%) hue-rotate(263deg) brightness(119%) contrast(100%);
    margin-right: 10px;
}

/*********************** footer bottom *******************/
.imageElement--footer__bottom--safe-zone-image1{
    max-height: 20px;
    margin-right: 0.5rem;
}

.imageElement--footer__bottom--safe-zone-image2, 
.imageElement--footer__bottom--payment-methods-img,
.imageElement--footer__bottom--guarded-img{
    max-height: 30px;
}

/* .imageElement--footer__bottom--icon-vtex{
    width: 10%;
    height: fit-content;
    filter: grayscale(1);
}*/

