.paragraph--home__section--search-msg {
    color: #fff;
    font-size: 30px;
    margin: 0%;
}

/****** Categories ******/
.paragraph--categories__seccion1--item{
    font-size: 12px;
}

/******* Titles********/

.container--home__title{
    position: relative;
    z-index: 1;
    color: #050505;
    margin: 30px auto 0;
}

.paragraph--home__title{
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #050505;
    font-size: 18px;
    background: #fff;
}

.paragraph--home__title::before{
    border-top: 2px solid #050505;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;
}

/******* Services *****/

.paragraph--section__services1{
    font-size: 16px;
}

.paragraph--container-text-services2{
    margin-left: 15px;
}

.paragraph--section__services2-text
:global(.vtex-rich-text-0-x-strong--section__services2-text){
    font-weight: 400;
    font-size: 14px;
}

/******* Section search mobile *****/

.container--text-section-search{
    height: 35px;
}

@media (max-width: 1024px){
    .container--home__title{
        margin: 0.7rem;
    }
}

@media (min-width: 640px) and (max-width: 1024px){
    .paragraph--section__services1{
        font-size: 0.9rem;
    }

    .paragraph--section__services2-text-tablet{
        margin-bottom: 0;
    }
}