.paragraph--home__section--search-msg {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    /* font-family: "RobotoSlab"; */
    /* font-weight: 400; */
    /* margin-right: 5em; */
    /* margin-right: 5em; */
}

/****** Categories ******/
.paragraph--categories__seccion1--item{
    font-size: 12px;
    /* font-family: "RobotoSlab"; */
    /* font-weight: 400; */
}

/******* Titles********/

.container--home__title{
    position: relative;
    z-index: 1;
    color: #050505;
}

.paragraph--home__title{
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #050505;
    /* font-family: "RobotoSlab"; */
    /* font-weight: 400; */
    font-size: 18px;
}

/******* Services *****/

.paragraph--section__services1{
    /* font-family: "RobotoSlab"; */
    font-weight: 600;
    font-size: 16px;
}

.paragraph--section__services2-text{
    /* font-family: "RobotoSlab"; */
    /* font-weight: 400; */
    font-size: 15px;
    color: #3f3f40;
}

.paragraph--container-text-services2{
    margin-left: 15px;
}