/************ Secccion de busqueda ***********/
.flexRow--desktop__home--section--search {
    background-color: #f8971d;
    padding: 1.5em 1em;
    margin: 0 10em 10px 10em; 
}

.flexRowContent--desktop__home--section--search{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 2em 0 0 2em;
    justify-content: space-between;
}

/************ Banner de promociones *********/

.flexRow--home__section--one {
    margin: 0 10rem 0 10rem;
}

/*********** Servicios ************/

.flexRow--home__section--two {
    margin: 0 6em 0 9em;
}

.flexCol--section__services2--container-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.flexRow--home__section--services2 {
    margin: 0 10em 0 10em
}

.flexColChild--section--search-img{
    width: 20em;
}

/********** Categoria **********/

.flexCol--home__categories--seccion1,
.flexCol--home__categories--seccion2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexRowContent--home__categories{
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
    margin: 5px 10em; 
    width: 81.5%;
}
 /* .flexCol--home__categories--item1{
    padding-right: 3em;
    border-right: 1px solid #dfdfdf;
 } */


/******** Menu de animales ******/
/********************************************* contener de menu animales****************/
/* .flexRowContent--desktop__header--menu{
    background: #f7f7f7;
    border: 1px solid #050505;
    padding: 0 14px;
    height: 40px;
    border-radius: 10px;
    width: 27.5em;
    height: 3.2em;
} */

.flexRowContent--desktop__header--menu{
    /* display: flex;
    flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
    width: 15em;
    /* position: absolute;
    top: 64px; */
}

.flexCol--header__menu--animals{
    flex-direction: row;
    align-items: center;
    background: #f7f7f7;
    border: 1px solid #050505;
    margin: 0.8em 0 0.8em 2em;
    padding: 2px 14px; 
    height: auto;
    border-radius: 10px;
    width: 11em;
}

.flexColChild--header__menu--animals{
    padding-right: 0.5em;
}

.flexRow--desktop__header--menu{
    background-color: #fff;
    box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
}

.flexCol--header__menu--animals1{
    flex-direction: row;
    align-items: center;
}
