.sliderLayoutContainer--home_slider{
    max-width: 100%;
    margin: 4em 0; 
}
.paginationDotsContainer--home_slider{
    padding-bottom: 7px;
}

/* .paginationDotsContainer--isActive{
    background-color: black;
} */
.bg-emphasis {
    background-color: black;
}