/***************** newsletter ***************/
.paragraph--newsletter-question{
    margin-top: 4px;
    color: #ee562a;
}

/***************** middle ******************/
.paragraph--footer__middle--col-one-text{
    color: #ffffff;
}

.paragraph--customer__service--subtittles{
    margin: 0 1.5rem;
    color: #fff;
    font-size: 14px;
}

.paragraph--customer__service--item{
    margin: 0 1.5rem;
    color: #fff;
}

.paragraph--select-store-title{
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: .5px;
}

.container--select-store-title::after{
    content: url("assets/img/mobile__menu--icon.svg");
    margin-top: 6px;
}

.container--select-store-title{
    display: flex;
    justify-content: space-between;
}