.closeIconContainer{
    position: absolute;
    right: 0px;
    top: -4.7em;
    background: #f8971d;
}

.opened{
    margin-top: 105px;
}

.overlay{
    background: transparent;
}

.closeIcon--mobile__header--menu{
    filter: invert(1);
}


