/************** Header mobile ************/

.flexRowContent--mobile__header--middle-animals{
    display: flex;
    flex-direction: row; 
}

   
.flexRow--mobile__header--middle-animals{
    width: 30%;
}

/********* Header desktop *************/

/********************************************* contener de menu animales****************/
/* .flexRowContent--desktop__header--menu{
    background: #f7f7f7;
    border: 1px solid #050505;
    padding: 0 14px;
    height: 40px;
    border-radius: 10px;
    width: 27.5em;
    height: 3.2em;
} */

.flexRowContent--desktop__header--menu{
    /* display: flex;
    flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    /* z-index: 10;
    background-color: #fff;
    box-shadow: 0 3px 4px rgb(0 0 0 / 12%); */
    width: 15em;
    /* position: absolute;
    top: 64px; */
}

.flexCol--header__menu--animals{
    flex-direction: row;
    align-items: center;
    background: #f7f7f7;
    border: 1px solid #050505;
    margin: 0.8em 0 0.8em 2em;
    padding: 2px 14px; 
    height: auto;
    border-radius: 10px;
    width: 11em;
}

.flexColChild--header__menu--animals{
    padding-right: 0.5em;
}

/* .flexRow--desktop__header--menu{
    background-color: #fff;
    box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
} */

.flexCol--header__menu--animals1{
    flex-direction: row;
    align-items: center;
}

/*********** Minicart ************/

.flexRowContent--global__home--minicart-footer{
    flex-direction: column;
}

.flexRowContent--global__home--minicart-footer
:global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 100% !important;
}


:global(.vtex-product-list-0-x-productImageContainer){
    margin: 0;
}

.flexColChild
:global(.vtex-product-list-0-x-deleteIcon){
    width: 1.5em;
    height: 1.5em;
}

/********* menu y submenu *******/

.flexRowContent--main-blocks{
    width: 228px;
    padding-left: 14px;
}

.flexRowContent{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

/* .flexRowContent--main-blocks
:global(.vtex-store-link-0-x-label--category__subtitles){
    text-decoration: none;
} */