/* .submenuAccordion--department__one{
    z-index: 999; 
   
} */
/**********************************************aca esta el menu con estilo******************/
.menuContainerNav--desktop__header--menu{
  background-color: #fff;
  position: absolute;
  top: 5.35em;
  /* left: 15em; */
  z-index: 2;
  /* line-height: 50px;  */
  box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
  width: 100%;
  height: auto;
}

.styledLinkContainer{
  margin: 0;
  padding: 1em;
  /* font-size: 0.5em; */
}
/* 
.menuContainer--desktop__header--menu{
  width: 80%;
  margin: 0%;
} */
