/************ Header mobile******************/

.headerRowContainer--mobile__header--middle{
    background-color: #F8971D;
    display: flex;
    justify-content: space-evenly;
}
.headerRowContentContainer--mobile__header--middle{
    padding: 0%;
}

.headerRowContainer--header__bottom{
    width: 100%;
}

/************ Header desktop *****************/

.headerRowContainer--desktop__header--middle{
    background-color: #F8971D;
    padding-left: 7em;
}

.headerRowContainer--header__top{
    min-height: 10px;
    justify-content: center;
    margin: 0 10em
}
.headerRowContentContainer--desktop__header--bottom{
    background-color: #fff;
    box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
} 

.headerRowBackground--desktop__header--bottom{
    background-color: #fff;
    box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
}
