/********* Header desktop *************/

.flexRowContent--desktop__header--search{
    width: 44.5em;
    margin-left: 6%;
}

.flexRowContent--desktop__header--search
:global(.vtex-search-2-x-biggy-autocomplete){
    max-width: 63em;
    right: -169px;
    width: 100%;
    top: 70px;
}

:global(.vtex-search-2-x-itemList){
    font-family: 'RobotoSlab-regular';
}

.flexRowContent--desktop__header--login-repurchase{
    display: flex;
    align-items: center;
}

.flexRowContent--desktop__header--login-repurchase
:global(.vtex-button__label):hover{
    color: #fff;
}

.flexRowContent--desktop__header--menu
:global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 47% !important;
}

.flexRow--desktop__header--menu{
    background: #f7f7f7;
    border: 1px solid #050505;
    margin: 0.5em 0;
    border-radius: 10px;
    width: 18.5em;
}

/*********** Minicart ************/

.flexRowContent--global__home--minicart-footer{
    flex-direction: column;
}

.flexRowContent--global__home--minicart-footer
:global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 100% !important;
}


:global(.vtex-product-list-0-x-productImageContainer){
    margin: 0;
}

.flexColChild
:global(.vtex-product-list-0-x-deleteIcon){
    width: 1.5em;
    height: 1.5em;
}

/********* menu y submenu *******/
.flexRow--main-blocks
:global(.vtex-flex-layout-0-x-flexRowContent){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.flexRow--main-blocks{
    border-right: 1px solid #efefef
}

.flexRowContent--main-blocks{
    width: 228px;
    padding-left: 14px;
}

.flexColChild--container-items:hover{
    background-color: #F2F2F2;
    cursor: pointer;
}

.flexRow--main-blocks-mobile{
    margin-top: 20px;
}

.flexColChild--container-items{
    padding-top: 10px;
}

@media (min-width:1024px) and (max-width: 1280px){
    .flexRowContent--desktop__header--search{
        width: 33em;
        margin: 0;
    }

    .flexRow--desktop__header--menu{
        margin-left: 0;
        width: 14em
    }
}
