@font-face {
  font-family: 'RobotoSlab';
  src: url(assets/fonts/RobotoSlab-Bold.ttf) format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url(assets/fonts/RobotoSlab-Medium.ttf) format("ttf");
  font-weight: 500; 
}

@font-face {
  font-family: 'RobotoSlab';
  src: url(assets/fonts/RobotoSlab-Regular.ttf) format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url(assets/fonts/RobotoSlab-SemiBold.ttf) format("ttf");
  font-weight: 600;
}
