:global(.vtex-breadcrumb-1-x-homeIcon){
    display: none;
}

:global(.vtex-breadcrumb-1-x-homeLink)::before{
    content: "Kanu";
    font-size: 14px;
    color: #888;
    font-weight: 400;
}

:global(.vtex-breadcrumb-1-x-link){
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
}

.filters--layout{
    width: 230px;
}

:global(.vtex-add-to-cart-button-0-x-buttonText){
    font-size: 12px;
}

.searchResultContainer--desktop__search--results-department
:global(.vtex-flex-layout-0-x-flexRowContent--home__section--services2){
    margin: 1em 0;
    padding: 0 3em;
}

.caretIcon{
    color: #050505;
}

.orderByButton{
    border: none;
}

.orderByOptionsContainer{
    max-width: 250px;
}

.gallery--general-grid{
    margin-bottom: 1em;
}

.galleryItem--general-grid
:global(.vtex-product-summary-2-x-element){
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
}

.galleryItem--general-grid
:global(.vtex-product-summary-2-x-imageNormal){
    width: 180px;
}


@media (max-width: 1024px){
    .loadingOverlay{
        padding: 0 1em;
    }

    .filterPopupButton, 
    .orderByButton {
        border: 2px solid #050505;
        border-radius: 0.3em;
        height: 35px;
        width: 100%;
    }

    .orderByButton
    :global(.vtex-search-result-3-x-filterPopupTitle){
        font-size: 0;
    }

    .orderByText{
        font-size: 13px;
        color: #3f3f40;
        display: block;
    }
}

@media (max-width: 640px){
    .galleryItem
    :global(.vtex-product-summary-2-x-container){
        max-width: 50em !important;
    }

    .sidebar{
        top: 120px;
        width: 100%;
        height: 75%;
    }
}